<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{location}} On Github</title>
    {% load staticfiles %}
    <link rel="icon" href="/static/app/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/static/app/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/static/octicons/octicons.css">
    <link rel="stylesheet" href="/static/app/css/style.css">
</head>
<body>

<!-- Begin page content -->
<div class="container">

    <nav class="navbar navbar-light navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Kenyans On Github

                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a ><iframe src="https://ghbtns.com/github-btn.html?user=kenyansongithub&repo=django-rog&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="100px" height="20px"></iframe></a></li>
                <li><a ><iframe src="https://ghbtns.com/github-btn.html?user=kenyansongithub&repo=django-rog&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe></a></li>
                <li><a ><iframe src="https://ghbtns.com/github-btn.html?user=kenyansongithub&repo=django-rog&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px" ></iframe></a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="refresh"><span class="glyphicon glyphicon-refresh"></span> Refresh</a></li>
            </ul>
        </div>

    </nav> <!-- /navbar -->


    <div class="panel panel-warning main-section">
        <!-- Default panel contents -->
        <div class="panel-heading text-center">


            <h2>
                <span id="all" class="btn btn-default active-activity">
                    <span class="octicon octicon-globe"></span>
                    All <span class="badge">0</span>
                </span>
                <span id="creates" class="btn btn-danger">
                    <span class="octicon octicon-repo" aria-label="Create"></span>
                    Creates <span class="badge">0</span>
                </span>
                <span id="forks" class="btn btn-success">
                    <span class="octicon octicon-git-branch" aria-label="Fork"></span>
                    Forks <span class="badge">0</span>
                </span>

                    <span id="stars" class="btn btn-primary">
                    <span class="octicon octicon-star" aria-label="Watch"></span>
                    Stars <span class="badge">0</span>
                </span>
                <span id="pulls" class="btn btn-info">
                    <span class="octicon octicon-git-pull-request" aria-label="Pull Req"></span>
                    Pulls <span class="badge">0</span>
                </span>
                <span id="adds" class="btn btn-warning">
                    <span class="octicon octicon-person" aria-label="Member"></span>
                    Adds <span class="badge">0</span>
                </span>

            </h2>

        </div>
        <ul id="activities" class="list-group">
            <!-- List item template -->
            <!--li class="list-group-item">
                <div class="row">
                    <div class="col-md-1">
                        <img src="imgs/sample.png" class="left img-fluid ">
                    </div>

                    <div class="col-md-11">
                        <p class="list-group-item-text">
                            <span class="label label-info">danleyb2 from Nakuru</span>
                            forked repo1 to repo2
                        </p>


                        <div class="pull-sm-right">
                            <span class="octicon octicon-git-branch label label-info" aria-label="Fork"> </span>
                            <time class="timeago  label label-info">10 mins ago</time>
                        </div>
                    </div>


                </div>
            </li-->


        </ul>
        <div class="panel-footer">
            <nav>
                <ul class="pager">
                    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>

        </div>

    </div>


</div>

<footer class="footer">
    <div class="container">

        <a href="http://danleyb2.bshellz.net" class="pull-right">Nyaundi Brian</a>
    </div>
</footer>

<a href="https://github.com/kenyansongithub/django-rog">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
         alt="Fork me on GitHub"
         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>


<script type="text/javascript" src="/static/app/js/libs/jquery.min.js"></script>
<script src="/static/app/js/libs/tether.min.js"></script>
<script type="text/javascript" src="/static/app/js/libs/bootstrap.js"></script>
<script src="/static/app/js/libs/jquery.timeago.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/app/js/KenyansOnGithub.js"></script>
<script type="text/javascript" src="/static/app/js/events.js"></script>
<script type="text/javascript" src="/static/app/js/script.js"></script>
</body>
</html>
